.header {
	background-color: #fff;

	width: 100%;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

.home-wallet-name {
	padding-top: 10px;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 0;
}

.home-wallet-amount {
	font-size: 14px;
	font-weight: 700;
}

.add-transaction {
	margin-top: 10px;
	margin-left: 10px;
}

.transaction-form {
	margin-top: 30px;
	background-color: white;
	min-height: 350px;
	justify-content: center;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	border: 1px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
	border-radius: 3px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}

.transaction-time {
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
	padding-top: 10px;
	padding-bottom: 10px;
}

.transaction-time a {
	font-size: 15px !important;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.54);
	padding-left: 15px;
	padding-right: 15px;
}

.modal-header p {
	margin-bottom: 0;
}

/* .modal-body-transaction {
	width: 110px;
} */

.modal-dialog.modal-transaction {
	max-width: 870px !important;
}

#float-label-add-transaction {
	display: flex;
	flex-direction: column;
	/* min-width: 297px; */
	position: relative;
	padding: 20px;
}
#float-label-add-transaction .input-note-add-transaction {
	min-width: 514px;
}

#float-label-add-transaction input {
	width: 237px;
	height: 65px;
	padding: 32px 16px 0 10px;
	outline: 0;
	border: 1px soli;
	border-radius: 10px;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#float-label-add-transaction label {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 12px;
	color: #999;
	pointer-events: none;
	position: absolute;
	transform: translate(0, 26px) scale(1);
	transform-origin: top left;
	transition: all 0.2s ease-out;
}

#float-label-add-transaction:focus-within label {
	transform: translate(0, 12px) scale(0.75);
}

#float-label-add-transaction .Active {
	transform: translate(0, 12px) scale(0.75);
}

.modal-wallet-form {
	background-color: rgb(238, 249, 245);
	min-height: 120px;
	justify-content: center;
	margin-bottom: 20px;
}

.modal-include-text {
	font-size: 12px !important;
	color: rgba(0, 0, 0, 0.54);
	padding: 11.5px 16px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
	background-color: #ffffff;
}

.modal-wallet-name {
	font-size: 13px;
	font-weight: 20px;
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 0;
}

.modal-wallet-money {
	padding-left: 10px;
	font-size: 10px;
}

.wallet-modal.modal-body {
	padding: 0;
	min-height: 500px;
}
